/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: LightGray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: LightGray;
}
/*Remove This 2 Styles before live*/

/*Cillianbc Styles*/
.content{
	padding: 0 0.938rem;
	/* margin: 0 auto; */
	min-width: 37.5rem;
}
.top-nav{
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.container{
	width:60%;
	/* height: 70px; */
	margin:0 auto;
}
.container ul li { 
	display: inline;
	/* float: right; */
 }

ul.links{
	float: right;
	margin: auto;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	/* list-style: none; */
	/* text-decoration: none; */

}
.links li{
	padding-right: 25px;
	/* text-decoration: none; */
}
.links a{
		list-style: none;
		text-decoration: none;
}
img.logo{
	float: left;
	width: 26px;
	height:70px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-font-smoothing: antialiased;
}
.active{
	color: #4c5058;
	font-weight: 500;
}
.links a:hover{
	cursor: pointer;
	color: #333333;
	font-weight: 500;
}


.introduction{
	background-image: url('../img/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.content{
	width: 66%;
	padding: 0 0.938rem;
	margin: 0 auto;
}
.introduction h1{
	margin-top: 17.5rem;
	font-size: 3.125rem;
	padding-bottom:15px;
	text-align: center;
}
.introduction h3{
	color: white;
	text-align: center;
	font-weight: 300;
	padding-bottom:15px;
	text-align: center;
}
.buttons{
    color: white;
	text-align: center;
	margin-top: 1.563rem;
	
}

button{
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}
.cases{
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
	width: 100%;
}
.devices ul{
	display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
    width:100px;
}
.devices li{
	width: 25%;
	display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
}
.cases h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}
.cases .content{
	margin-top: 7.875rem;
	padding: none;
	color: #1d1e21;
	text-align: center;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
    text-align: center;	
}

.devices{
	width:33%;
	display: inline-block;
}
footer{
	text-align: center;
	padding-top:30px;
	padding-bottom: 40px;
}
ul.icons{
	margin:0 auto;
	width: 33%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.icons li{
	width: 100%;
	padding: 30px;
	display: inline;

}
.join{
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
	color:black;
	text-align: center;
}
.copy {
font-size: 0.9rem;
font-weight: 300;
color: #838994;
}